{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
                  <span class="skills">Загрузить изображение</span>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2 form-upload">
        <form enctype="multipart/form-data" action="/load_pic/" method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_picture" class="col-sm-2 control-label">Файл</label>
            <div class="col-sm-10">
              <input type="file" id="id_picture" name="picture" placeholder="Описание"></div>
          </div>
          <div class="form-group">
            <label for="id_description" class="col-sm-2 control-label">Описание</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="description" id="id_description" placeholder="Описание" required></div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10 submit-btn">
              <button type="submit" class="btn btn-default">Загрузить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block user_pictures %}
<style>
  #portfolio {padding-top: 20px;}
</style>
  <section id="portfolio">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h3>{{ msg }}</h3>
            <hr class="star-primary">
          </div>
      </div>
{% if images %}
  <div class="row">

  {% for image in images %}
     <div class="col-sm-3 portfolio-item">
      <a href="/{{ image.key }}/" class="portfolio-link" data-toggle="modal">
          <div class="caption">
              <div class="caption-content">
                  <i class="fa fa-picture-o fa-2x"></i>
                  <p>Загружено: {{image.upload_datetime|date:"SHORT_DATE_FORMAT"}}</p>
        <p>
        <i class="fa fa-eye "></i>  {{ image.view_count }} 
        {% if image.user.username != 'default'%}
            | <i class="fa fa-user "></i> {{ image.user }}
            {% else %}
            | <i class="fa fa-user-secret "></i>
         {% endif %} 
              </div>
          </div>
          <img src="/media/{{image.picture}}" class="img-responsive timage" alt="">
      </a>
    </div>
  {% endfor %}
  </div>
{% else %}
  <div class="col-lg-12 text-center">
    <p class="lead">У вас пока нету загруженных изображений</p>
  </div>  
{% endif %}
  
  </div>
</section>
{% endblock %}