{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h2>Picture Page</h2>
    <h2>{{ msg }}</h2>
    <h3>	{{image.description}}</h3>
    <img src="/media/{{image.picture}}" alt="">
    
    <p>Uploaded: {{image.upload_datetime}}</p>
    <p>Views: {{ image.view_count }} |
    <button 
    {% if user.is_authenticated %}
    id="likes" data-key="{{ image.key }}"
    {% endif %}
    >Likes: {{ likes }}</button>    
    </p>
    <p>Last View: {{image.last_view_datetime}}</p>
    <a href="/">Back to home page </a>



{% endblock %}