/*.submit-btn {
	text-align: left
}*/
.login-header {
	background-color: #5e92db;
}
.picture-container {
	margin-top: 100px;	
}
button.btn-like {
  border:0px solid transparent;
  background-color: transparent;
 }
.intro-text {
	margin-bottom: 50px;
}
.user-pic {
	border: solid white 1px;
	border-radius: 10px;
}
.register {
	margin-left: 50px;
}

.timage {
	max-height: 200px;
	min-height: 200px;
	margin: auto;
}
.portfolio-item {
	margin-bottom: 5px !important;
}
.caption {
	background-color: rgba(94, 146, 219,.9) !important;
}
li.remove-pic {
	padding-left: 40px;
}
/*html, body {height: 100%;}
header {height: 73%;}
footer {height: 15% !important;}*/
/*.container {
	height: 20% ;
}*/